@font-face {
  font-family: "belligerent_madnessregular";
  src: url("../fonts/belligerent-webfont.eot");
  src: url("../fonts/belligerent-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/belligerent-webfont.woff2") format("woff2"), url("../fonts/belligerent-webfont.woff") format("woff"), url("../fonts/belligerent-webfont.ttf") format("truetype"), url("../fonts/belligerent-webfont.svg#belligerent_madnessregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@import "./utils/_mixins";

$color-primary:#c568f3;
$color-secondary:#eeaf3b;
$color-third: linear-gradient(to right, $color-secondary 10%, $color-primary);
$color-fourth: linear-gradient( to right, $color-primary 10%, $color-secondary);
$color-fith: #F3E9F1;

@keyframes button-effect {
  0% {
    color: $color-secondary;
    text-shadow: 0 0 0.1rem $color-secondary;
  }
  40% {
    color: $color-primary;
    text-shadow: 0 0 0.1rem $color-primary;
  }
  70% {
    color: $color-secondary;
    text-shadow: 0 0 0.1rem $color-secondary;
  }
  100% {
    color: $color-primary;
    text-shadow: 0 0 0.1rem $color-primary;
  }
}
@keyframes article-cart {
  0% {
    transform: scale(0.5);
    color: #F3E9F1;
  }
  50% {
    color: #c568f3;
  }
  100% {
    transform: scale(1);
    color: #eeaf3b;
  }
}

@keyframes spin{
  0%{
      -webkit-transform: rotate(0deg);
      -moz-transform:rotate(0deg);
      transform: rotate(0deg); 
      opacity: 1; 
  }
  25%{
      -webkit-transform: rotate(120deg);
      -moz-transform:rotate(120deg);
      transform:rotate(120deg) ;
      opacity: 1;
  }
  50% {
      -webkit-transform: rotate(160deg);
      -moz-transfrom: rotate(160deg);
      transform: rotate(160deg);
      opacity:1;
  }
  75%{
      -webkit-transform: rotate(200deg);
      -moz-transform:rotate(200deg);
      transform: rotate(200deg);
      opacity: 1;
  }
  100% {
      -webkit-transform: rotate(360deg);
      -moz-transform:rotate(360deg)
;        transform: rotate(360deg);
      opacity: 0;
      visibility: hidden;
  } 
}

      /*--loader--*/


.spinner {
  border-top:10px solid $color-third;
  border-bottom:10px solid $color-fourth;
  border-radius:50%;
  width: 300px;
  height:300px;
  animation: spin 3s  cubic-bezier(.56,.57,.62,.64)  reverse ;
  -webkit-animation: spin 3s  cubic-bezier(.56,.57,.62,.64)  reverse ;
  -moz-animation: spin 3s  cubic-bezier(.56,.57,.62,.64)  reverse ;
  left: calc(50% - 140px);
  top: calc(30% - 70px);
  z-index:3;
  opacity:0;  
  position:absolute;
}


body {
  width: 100%;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
  font-family: "belligerent_madnessregular";
  font-size: 20px;
}

/*--PAGE ACCUEIL--*/
.page{
  &__container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width:100%;
    margin:0;
    box-sizing: border-box;
  }
}
.navbar{
  &__header {
    display: flex;
    flex-flow: column;
    height: 160px;
    width: 100%;
    background: #F3E9F1;
  }
}
.navbar{
  &__logo {
    display: flex;
    width: 200px;
    margin: auto;
  }
}
.navbar{
  &__logo:hover {
    cursor: pointer;
    transform: translateX(30%);
    transition: transform 800ms linear;
  }
}
#btn{
  &__cart {
    display: flex;
    flex-flow: column;
    margin: auto;
  }
}
#btn{
  &__cart > img {
    width: 90px;
  }
}
.homepage{
  &__container {
    display: flex;
    flex-flow:column;
    width: 100%;
    box-sizing: border-box;
  }
}
.title{
  &__homepage {
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
    height: 7rem;
    width: 95%;
    margin: 2rem auto;
    border-radius: 50px;
    background: black;
    padding-top: 0.5rem;
    border: solid 6px;
    border-color: #F3E9F1;
    font-family: "belligerent_madnessregular";
  }
}

.title{
  &__homepage:hover {
    transform: scale(0.8);
    transition: transform 600ms linear;
  }
}
.word {
  animation: button-effect 8s linear infinite;
  -moz-animation: button-effect 8s linear infinite;
  -webkit-animation: button-effect 8s linear infinite;
  -o-animation: button-effect 8s linear infinite;
  -ms-animation: button-effect 8s linear infinite;
}

.word:nth-child(1) {
  animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
  -o-animation-delay: 0.1s;
  -ms-animation-delay: 0.01s;
}

.word:nth-child(2) {
  animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
  -ms-animation-delay: 0.3s;
}

.word:nth-child(3) {
  animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
  -o-animation-delay: 0.5s;
  -ms-animation-delay: 0 0.5s;
}

.word:nth-child(4) {
  animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  -webkit-animation-delay: 0.7s;
  -o-animation-delay: 0.7s;
  -ms-animation-delay: 0.07s;
}

#bloc{
  &__image {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    box-sizing: border-box;
    margin:  0;
    width: 100%;
  }
}
#bloc{
  &__image img {
    width: 200px;
    object-fit: cover;
    width: 40%;
    height: 20%;
    padding: 5px;
    margin: 0.8rem auto;
    border-radius: 50px 0 50px 0;
    border: solid 1px #eeaf3b;
  }
}
#bloc{
  &__image1 {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    border: solid 3px  #eeaf3b;
    margin: 2rem 0 2rem 0;
    border-radius: 50px 0 50px 0;
    padding: 5px;
    height:100%;
  }
}
#bloc{
  &__image1 .productList {
    border: solid 1px #c568f3;
    border-radius: 50px 0 50px 0;
    display: flex;
    flex-flow: column;
    line-height: 1.5rem;
    font-size: 18px;
    margin:8px;
    text-align: center;
    font-family: "belligerent_madnessregular";
  }
}
#btn{
  &__camera {
  border: solid 3px;
  border-radius: 50px;
  font-size: 18px;
  padding-top:.3rem;  
  background: linear-gradient(to right, #d1841f 10%, #c568f3);
  height: 28px;
  width: 11rem;
  margin: auto auto 0.5rem auto;
  font-family: "belligerent_madnessregular";
  }
}
/*--END PAGE ACCUEIL--*/

/*-- PAGE PRODUCT--*/


#bloc{
  &__product {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    box-sizing: border-box;
    margin: 1rem auto auto 1rem;
    width: 95%;
  }
}
#bloc{
  &__product img {
    width: 200px;
    object-fit: cover;
    width: 40%;
    height: 20%;
    padding: 5px;
    margin: 0.8rem auto;
    border-radius: 50px 0 50px 0;
    border: solid 1px #eeaf3b;
  }
}
#bloc{
  &__product {
    display: flex;
    flex-flow: column;
    border: solid 3px;
    border-color: #eeaf3b;
    margin: 0.3rem 0 2rem 0;
    border-radius: 50px 0 50px 0;
    padding: 5px;
    margin:auto;
  }
}
#bloc{
  &__product .productList {
    border: solid 1px #c568f3;
    border-radius: 50px 0 50px 0;
    display: flex;
    flex-flow: column;
    line-height: 1.5rem;
    font-size: 18px;
    text-align: center;
    margin-bottom: 0.8rem;
    font-family: "belligerent_madnessregular";
  }
}
.choice, .selectQ {
  font-family: "belligerent_madnessregular";
  font-size: 20px;
}

#btn{
  &__addtocart {
    border: solid 3px;
    border-radius: 50px;
    font-size: 18px;
    background: linear-gradient(to right, #d1841f 10%, #c568f3);
    height: 50px;
    width: 11rem;
    margin: auto auto .5rem auto;
    font-family: "belligerent_madnessregular";
  }
}

/*-- END  PRODUCT PAGE---*/


/*-- CART PAGE--*/
.title {
  font-family: "belligerent_madnessregular";
  text-align: center;
  font-size: 30px;
  animation: article-cart 10s ease-in-out infinite;
}

.cart{
  &__items {
    border-radius: 10px;
    border: solid 2px #c568f3;
    display: flex;
    flex-flow: column;
    width: 95%;
    height: 55%;
    line-height: 2rem;
    margin: 1rem auto 1rem auto;
    padding: 1rem auto 1rem auto;
    font-family: "belligerent_madnessregular";
    font-size: 20px;
    box-shadow: 2px 2px 2px 2px #eeaf3b;
  }
}

.container{
  &__recap, &__emptyCart{
    width:90%;
    height:45%;
    border-radius: 10px;
    border:solid 2px #eeaf3b;
    display: block;
    margin:.5rem auto .5rem auto;
    box-shadow: 2px 2px 2px 2px #c568f3;
    text-align: center;
  }
}
.sum, .container{
  &__totals, &__totals{
    width:45%;
    height:25px;
    border-radius: 10px;
    border:solid 2px #eeaf3b;
    display: block;
    margin:auto auto 1rem auto;
    box-shadow: 2px 2px 2px 2px #c568f3;
    text-align: center;
    padding-top: .5rem;

  }
}
  .container{
    &__recap img{
    object-fit: cover;
    width: 40%;
    height: 20%;
    padding: 5px;
    margin: 0.8rem auto;
    border-radius: 50px 0 50px 0;
    border: solid 1px #eeaf3b;
  }
}
.cont{
  &__total{
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    border: solid 1px #eeaf3b;
    border-radius: 10px;
    width:95%;
    height:20%;
    padding-top:1.5rem;
    margin:.5rem auto 2rem auto;
    font-family: "belligerent_madnessregular";
    font-size:18px;
    box-shadow: 2px 2px 2px 2px #c568f3;
  }
}
.btn{
  &__cancelArticle{
    font-family: "belligerent_madnessregular";
    font-size: 20px;
    
    width:200px;
    height:50px;
    margin: 2rem auto 2rem auto;
    border: solid 3px black;
    border-radius: 50px;
    background: linear-gradient(to right, #d1841f 10%, #c568f3);
  }
}

.btn{
  &__emptyCart{
    border: solid 3px black;
    border-radius: 50px;
    width: 250px;
    height:30px;
    font-size: 20px;
    text-align: center;
    margin:auto auto 1rem auto;
    font-family: "belligerent_madnessregular";
    background: linear-gradient(to right,#c568f3 10% , #d1841f );
  }
}




.form{
  &__container {
    border-radius: 10px;
    border: solid 2px #eeaf3b;
    box-shadow: 2px 2px 2px 2px #c568f3;
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 95%;
    height: 35%;
    line-height: 3rem;
    margin: auto auto 5rem auto;
    font-family: "belligerent_madnessregular";
    font-size: 15px;
  }
}
.form-control {
  display: block;
  margin: auto;
}

.form-group {
  text-align: center;
}

#form input {
  height: 30px;
  width: 80%;
  border-radius: 10px;
  text-align: center;
  border: solid 1px;
  border-color: #c568f3;
  box-shadow: 2px 2px 2px 2px #eeaf3b;
}

input:focus{
  outline: none;
}
input:invalid {
  border : solid 2px red;
}
input:valid {
  border : solid 1px black;
}
#error {
  margin: auto;
  color: red;
  font-size: 20px;
}

.black {
  color: black;
  font-family: "belligerent_madnessregular";
  font-size: 20px;
  border-radius: 50px;
}

.black-valid {
  color: black;
  font-family: "belligerent_madnessregular";
  font-size: 20px;
  width:200px;
  height:50px;
  margin: 2rem auto 2rem auto;
  border: solid 3px;
  border-radius: 50px;
  background: linear-gradient(to right, #d1841f 10%, #c568f3);
}

/*--END CART PAGE--*/


/*--CONFIRMATION PAGE---*/

body{
  font-family: 'belligerent_madnessregular';
}
.confirmation{
    text-align: center;
    border: solid 2px;
    border-color: #c568f3;
    box-shadow: 2px 2px 2px 2px #eeaf3b;
    width:95%;
    margin:auto auto 1rem auto;

  }
.recap{
    text-align: center;
    border: solid 2px;
    border-color:#eeaf3b;
    box-shadow: 2px 2px 2px 2px  #c568f3;
    width:95%;
    margin:auto auto 1rem AUTO;

}
.confirmText{
  font-size: 18px;
}
.returnAccueil{
  color: black;
  font-family: "belligerent_madnessregular";
  font-size: 20px;
  width:200px;
  height:40px;
  margin: 2rem auto 1rem auto;
  border: solid 3px;
  border-radius: 50px;
  padding-top:.5rem;
  background: linear-gradient(to right, #d1841f 10%, #c568f3);
}
.product{
  &__image {
    object-fit: cover;
    width: 100px;
    height: 30%;
    padding: 5px;
    margin:.8rem auto;
    border-radius: 50px 0 50px 0;
    border: solid 1px #eeaf3b;
  }
}
table{
  margin:auto;
}
th{
  width:150px;
  
}

#sum, #column{
  &__ConfirmTotal{
    font-size:20px;
    text-align: right;
  }
}
/*-- FOOTER--*/
.footer{
  &__container {
    display: flex;
    flex-flow: column;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background: #F3E9F1;
  }
}
.btn__footer1, .btn__footer2 {
  cursor: pointer;
  margin: 1rem auto 0.5rem auto;
  font-size: 30px;
  font-family: "belligerent_madnessregular";
  border-radius: 50px;
  width: 300px;
  height: 100px;
  background: linear-gradient(to right, #d1841f 10%, #c568f3);
  border: solid 4px #eeaf3b;
}

.btn__footer1:hover, .btn__footer2:hover {
  background: linear-gradient(to right, #c568f3 10%, #d1841f);
  border: solid 4px #c568f3;
}

/*--POPUP APPEARS WHEN CLICKING--*/


.overlay, .overlay2 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #ebdddd;
  opacity: 0.96;
  width: 100%;
  height: 1500px;
  font-family: "belligerent_madnessregular";
  font-size: 20px;
  text-align: center;
  display: none;
}

.btn__close, .btn__close2 {
  font-size: 30px;
  color: #c568f3;
  border: solid 3px #c568f3;
  padding: 0.5rem;
  border-radius: 50px;
  cursor: pointer;
}

.popup {
  margin: 10% auto;
  width: 55%;
  padding: 1rem 0 1rem 0;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 10px 5px 10px #eeaf3b;
}

/*----MEDIA QUERY---*/


@media screen and (min-width: 768px) {
 
 
 /*--INDEX--*/

  #btn{
    &__cart {
      cursor: pointer;
      display: flex;
      flex-flow: column;
      margin-right: 100px;
    }
  }
  #btn{
    &__cart > img {
      width: 90px;
    }
  }
  .title{
    &__homepage {
      cursor: pointer;
      box-sizing: border-box;
      text-align: center;
      width: 60%;
      margin:2rem auto;
    }
  }
  .title{
    &__homepage:hover {
      transform: scale(0.8);
      transition: transform 600ms linear;
    }
  }
  #bloc{
    &__image {
      box-sizing: border-box;
      margin:  auto auto 2rem auto;
      width: 95%;
    }
  }
  #bloc{
    &__image1 {
      display: flex;
      flex-flow: wrap;
      justify-content: space-evenly;
      border: solid 3px;
      border-color: #eeaf3b;
      margin-bottom: 2rem;
      border-radius: 50px 0 50px 0;
      width:98%;
      margin:auto;
    }
  }
  #bloc{
    &__image1 .productList {
      border: solid 1px #c568f3;
      border-radius: 50px 0 50px 0;
      display: flex;
      line-height: 1.5rem;
      font-size: 18px;
      text-align: center;
      margin-bottom: 0.8rem;
      font-family: "belligerent_madnessregular";
      width:35%;
    }
  }
  #bloc{
    &__image img {
      width: 200px;
      object-fit: cover;
      width: 40%;
      height: 40%;
      padding: 5px;
      margin: 0.8rem auto;
      border-radius: 50px 0 50px 0;
      border: solid 1px #eeaf3b;
    }
  }

  /*-----PRODUCT-----*/

  #bloc{
    &__product img {
      width: 200px;
      object-fit: cover;
      width: 20%;
      height: 20%;
      padding: 5px;
      margin: 0.8rem auto;
      border-radius: 50px 0 50px 0;
      border: solid 1px #eeaf3b;
    }
  }
  #bloc{
    &__product {
      display: flex;
      flex-flow: column;
      border: solid 3px;
      border-color: #eeaf3b;
      border-radius: 50px 0 50px 0;
      padding: 10px;
      margin :auto auto 2rem auto;
    }
  }

  /*-----CART---*/

 .id{
   &__products {
    height:90px;
    width:260px;
    margin: auto 0 auto 0;
  
  }
}
.nom, .prix{
  &__products{
    height:90px;
    width:125px;
    margin: auto 0 auto 0;
  }
}
.container{
  &__recap{
    width:90%;
    height:15%;
    border-radius: 10px;
    border:solid 2px #eeaf3b;
    display:flex;
    flex-flow: wrap;
    justify-content: space-around;
    margin: 1rem auto 1rem auto;
    box-shadow: 2px 2px 2px 2px #c568f3;
    text-align: center;
  }
}
.container{
  &__recap img{
    object-fit: cover;
    width: 15%;
    height: 45%;
    padding: 5px;
    margin:  2rem .8rem .8rem 0.8rem;
    border-radius: 50px 0 50px 0;
    border: solid 1px #eeaf3b;
    
  }
}

.cont{
  &__total{
    justify-content: flex-end;
    width:450px;
    height : 25%;
    border: solid 2px #eeaf3b;
    margin: auto  auto 1rem auto;

  }
}

#btn-cancelArticle{
  display:flex;
  flex-flow: column;
  height:90px;
  width:100%;
  margin:auto;
}

.sum, .container{
  &__totals{
    width:200px;
    height:30px;
    border-radius: 10px;
    border:solid 2px #eeaf3b;
    box-shadow: 2px 2px 2px 2px #c568f3;
    text-align: center;
    padding-top:.8rem;
  
  }
}

#form input {
  width: 40%;
  }
}
