@import "./utils/mixins";
@font-face {
    font-family: 'belligerent_madnessregular';
    src: url('../fonts/belligerent-webfont.eot');
    src: url('../fonts/belligerent-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/belligerent-webfont.woff2') format('woff2'),
         url('../fonts/belligerent-webfont.woff') format('woff'),
         url('../fonts/belligerent-webfont.ttf') format('truetype'),
         url('../fonts/belligerent-webfont.svg#belligerent_madnessregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


$color-primary:#c568f3;
$color-secondary:#eeaf3b;
$color-third: linear-gradient(to right, #d1841f 10%, #c568f3);
$color-fourth: linear-gradient( to right, #c568f3 10%, #d1841f);

@keyframes button-effect{
    0%{
        color: $color-secondary;
        text-shadow: 0 0 .1rem $color-secondary;
    }
    40%{
        color: $color-primary;
        text-shadow: 0 0 .1rem $color-primary;
    }
    
    70%{
        color: $color-secondary;
        text-shadow: 0 0 .1rem $color-secondary;
    }
    100%{
        color: $color-primary;
        text-shadow: 0 0 .1rem $color-primary;
    }
}
body{
    width:100%;
    margin:0;
}

a{
    text-decoration: none;
    color: black;
    font-family:'belligerent_madnessregular';
    font-size:20px;
}

.page{
    &__container{
        display: flex;
        flex-flow: column;
        justify-content: center;
        width:100%;
        box-sizing: border-box;
    }
}

.navbar{
    &__header{
        
        display:flex;
        flex-flow: column;
        height:160px;
        width:100%;
        background:#F3E9F1;
    }  
}        
.navbar{
    &__logo{
        display:flex;
        width:200px; 
        margin:auto;
    } 
}   

#btn{
    &__cart{
        display:flex;
        flex-flow: column;
        margin:auto;
        
        & > img{
            width:90px;
        } 
    }
}   


.homepage{
    &__container{
        display:flex;
        flex-flow: column ;
        width:100%;
        box-sizing: border-box;
    }
}

.title{
    &__homepage{
        cursor: pointer;
        box-sizing: border-box;
        text-align: center;
        height:7rem;
        width: 23rem;
        margin:3rem auto;
        border-radius:50px;
        background: black;
        padding-top:.5rem;
        border:solid 6px;
        border-color:#F3E9F1;
        font-family:'belligerent_madnessregular'; 
    }   
} 
.word{
    color:black;
    animation: button-effect 8s linear infinite;
    -moz-animation:button-effect 8s linear infinite;
    -webkit-animation:button-effect 8s linear infinite;
    -o-animation:button-effect 8s linear infinite;
    -ms-animation:button-effect 8s linear infinite;
}
.word:nth-child(1){
    animation-delay:0.1s;
    -moz-animation-delay:0.1s;
    -webkit-animation-delay: 0.1s;
    -o-animation-delay: 0.1s;
    -ms-animation-delay:.01s;
}
.word:nth-child(2){
    animation-delay:0.3s;
    -moz-animation-delay:0.3s;
    -webkit-animation-delay: 0.3s;
    -o-animation-delay: 0.3s;
    -ms-animation-delay:.3s;
}
.word:nth-child(3){
    animation-delay:0.5s;
    -moz-animation-delay:0.5s;
    -webkit-animation-delay: 0.5s;
    -o-animation-delay: 0.5s;
    -ms-animation-delay:.0.5s;
}
.word:nth-child(4){
    animation-delay:0.7s;
    -moz-animation-delay:0.7s;
    -webkit-animation-delay: 0.7s;
    -o-animation-delay: 0.7s;
    -ms-animation-delay:.07s;
}

.btns{
    &__homepage{
        box-sizing: border-box;
        display:flex;
        flex-flow: column;
        justify-content: space-evenly;
        margin:0 auto 1rem auto ;
        width:100%; 
        & >  img{
            width:150px;
            margin:.3rem auto 1rem auto;
            border-radius:50px;
            &:hover{
                cursor: pointer;
                transform:translateX(60%);
                transition: transform 800ms  linear;
            }
        }
    }
}
.btn{
    &__homepage{
        cursor: pointer;
        border-radius:50px;
        height:50px;
        @include gradient;
        box-sizing: border-box;
        width:30%;
        margin:auto;
        border:solid 6px;
        border-color:#F3E9F1;
        font-size:20px;
        font-family: 'belligerent_madnessregular';
    
        &:hover{
            cursor: pointer;
            transform:scale(1.1);
            -moz-transform:scale(1.1);
            -webkit-transform:scale(1.1);
            -o-transform:scale(1.1);
            -ms-transform:scale(1.1);
            @include gradient-inverse;
            border:solid 6px;
            border-color: black;
        }
    }
}

/*--PRODUCTS PAGE--*/
.bloc{
    &__image{
        display: flex;
        flex-flow: column;
        
        box-sizing: border-box;
        margin:1rem auto;
        width:100%;
        
        & img{
            width: 200px;
            margin:auto;
        }
    }
}
.bloc{
    &__image1{
        border:solid 1px;
        margin-bottom:5rem;
    }
}

/*-- END PODUCT PAGE---*/

.footer{
    &__container{
        display: flex;
        flex-flow: column;
        box-sizing: border-box;
        width:100%;
        height:150px;
        background:#F3E9F1;
    }
    &__all{
        cursor: pointer;
        margin:1rem auto .5rem auto;
        font-size:30px;
        font-family: 'belligerent_madnessregular';
    }
}


