@import "./utils/mixins";
@font-face {
    font-family: 'belligerent_madnessregular';
    src: url('../fonts/belligerent-webfont.eot');
    src: url('../fonts/belligerent-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/belligerent-webfont.woff2') format('woff2'),
         url('../fonts/belligerent-webfont.woff') format('woff'),
         url('../fonts/belligerent-webfont.ttf') format('truetype'),
         url('../fonts/belligerent-webfont.svg#belligerent_madnessregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


$color-primary:#c568f3;
$color-secondary:#eeaf3b;
$color-fith:#F3E9F1;
$color-third: linear-gradient(to right, #d1841f 10%, #c568f3);
$color-fourth: linear-gradient( to right, #c568f3 10%, #d1841f);

@keyframes button-effect{
    0%{
        color: $color-secondary;
        text-shadow: 0 0 .1rem $color-secondary;
    }
    40%{
        color: $color-primary;
        text-shadow: 0 0 .1rem $color-primary;
    }
    
    70%{
        color: $color-secondary;
        text-shadow: 0 0 .1rem $color-secondary;
    }
    100%{
        color: $color-primary;
        text-shadow: 0 0 .1rem $color-primary;
    }
}
body{
    width:100%;
    margin:0;
}

a{
    text-decoration: none;
    color: black;
    font-family:'belligerent_madnessregular';
    font-size:20px;
}

/*--PAGE ACCUEIL--*/

.page{
    &__container{
        display: flex;
        flex-flow: column;
        justify-content: center;
        width:100%;
        box-sizing: border-box;
    }
}

.navbar{
    &__header{
        
        display:flex;
        flex-flow: column;
        height:160px;
        width:100%;
        background:#F3E9F1;
    }  
}        
.navbar{
    &__logo{
        display:flex;
        width:200px; 
        margin:auto;
        &:hover{
            cursor:pointer;
            transform:translateX(30%);
            transition: transform 800ms  linear;
        }
    } 
}   

#btn{
    &__cart{
        display:flex;
        flex-flow: column;
        margin:auto;
        
        & > img{
            width:90px;
        } 
    }
}   


.homepage{
    &__container{
        display:flex;
        flex-flow: column ;
        width:100%;
        box-sizing: border-box;
    }
}

.title{
    &__homepage{
        cursor: pointer;
        box-sizing: border-box;
        text-align: center;
        height:7rem;
        width: 95%;
        margin:3rem auto;
        border-radius:50px;
        background: black;
        padding-top:.5rem;
        border:solid 6px;
        border-color:#F3E9F1;
        font-family:'belligerent_madnessregular'; 
        &:hover{
            transform: scale(.8);
            transition: transform  600ms linear ;
        }
    }   
} 
.word{
    animation: button-effect 8s linear infinite;
    -moz-animation:button-effect 8s linear infinite;
    -webkit-animation:button-effect 8s linear infinite;
    -o-animation:button-effect 8s linear infinite;
    -ms-animation:button-effect 8s linear infinite;
}
.word:nth-child(1){
    animation-delay:0.1s;
    -moz-animation-delay:0.1s;
    -webkit-animation-delay: 0.1s;
    -o-animation-delay: 0.1s;
    -ms-animation-delay:.01s;
}
.word:nth-child(2){
    animation-delay:0.3s;
    -moz-animation-delay:0.3s;
    -webkit-animation-delay: 0.3s;
    -o-animation-delay: 0.3s;
    -ms-animation-delay:.3s;
}
.word:nth-child(3){
    animation-delay:0.5s;
    -moz-animation-delay:0.5s;
    -webkit-animation-delay: 0.5s;
    -o-animation-delay: 0.5s;
    -ms-animation-delay:.0.5s;
}
.word:nth-child(4){
    animation-delay:0.7s;
    -moz-animation-delay:0.7s;
    -webkit-animation-delay: 0.7s;
    -o-animation-delay: 0.7s;
    -ms-animation-delay:.07s;
}

.btns{
    &__homepage{
        box-sizing: border-box;
        display:flex;
        flex-flow: column;
        justify-content: space-evenly;
        margin:0 auto 1rem auto ;
        width:100%;
        & >  img{
            width:300px;
            margin:3rem auto 2rem auto;
            border-radius:50px;
            &:hover{
                cursor: pointer;
                transform:rotate(360deg);
                transition: transform 800ms  linear;
            }
        }
    }
}  
.btn{
    &__homepage{
        cursor: pointer;
        border-radius:50px;
        height:100px;
        @include gradient;
        box-sizing: border-box;
        width:200px;
        margin: auto;
        border:solid 6px;
        border-color:#F3E9F1;
        font-size:20px;
        font-family: 'belligerent_madnessregular';
    
        &:hover{
            cursor: pointer;
            transform:scale(1.1);
            -moz-transform:scale(1.1);
            -webkit-transform:scale(1.1);
            -o-transform:scale(1.1);
            -ms-transform:scale(1.1);
            @include gradient-inverse;
            border:solid 6px;
            border-color: black;
        }
    }
}

/*--END PAGE ACCUEIL--*/

/*--PRODUCTS PAGE--*/
#bloc{
    &__image{
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
        box-sizing: border-box;
        margin:1rem auto;
        width:95%;
        
        & img{
            width: 200px;
            object-fit: cover;
            width:40%;
            height:20%;
            padding:5px;
            margin:.8rem auto;
            border-radius:50px 0 50px 0;
            border: solid 1px $color-secondary;
        }
    }
}
#bloc{
    &__image1{
        display:flex;
        flex-flow: column;
        border:solid 3px;
        border-color:$color-secondary;
        margin:.3rem 0 2rem 0;
        border-radius:50px 0 50px 0;
        padding:5px;
        
        & .productList{
            border: solid 1px $color-primary;
            border-radius: 50px 0 50px 0;
            display: flex;
            flex-flow:column;
            line-height: 1.5rem;
            font-size: 18px;
            text-align:center;
            margin-bottom: .8rem;
            font-family: 'belligerent_madnessregular';
        }
    }
}


.select{
    font-family:'belligerent_madnessregular';
    font-size:20px;
    
}
.btn{
    &__product{
        border: solid 3px;
        border-radius:50px;
        font-size: 18px;
        background: $color-third;
        height:50px;
        width:10rem;
        margin:auto auto .5rem auto;
        font-family: 'belligerent_madnessregular';
    }
}

/*-- END PRODUCT PAGE---*/

/*-- CART PAGE--*/

.form{
    &__container{
        display:flex;
        justify-content: center;
        width:100%;
        line-height:3rem;
        margin-bottom:10rem;
        
    }
}
.form{
    &__group{
        line-height: 1.5rem;
        justify-content: center;
        width:50%;
    }
}
input{
    display: block;
    border-radius:50px;
    border: solid $color-primary 3px;
    height:25px;
    padding-left:10px;
    width:15rem;
    margin:auto;
}

.black{
    color:black;
    font-family: 'belligerent_madnessregular';
    font-size:25px;
    border-radius:50px;
}
.black-valid{
    color:black;
    font-family: 'belligerent_madnessregular';
    font-size:30px;
    margin:5rem auto;
    height:100px;
    width:300px;
    border: solid 3px;
    border-radius: 50px;
    background: $color-third;
}

/*--END CART PAGE--*/


/*-- FOOTER--*/

.footer{
    &__container{
        display: flex;
        flex-flow: column;
        box-sizing: border-box;
        width:100%;
        height:100%;
        background:#F3E9F1; 
    }   
         
}    

.btn{
    &__footer1, &__footer2{
    cursor: pointer;
    margin:1rem auto .5rem auto;
    font-size:30px;
    font-family: 'belligerent_madnessregular';
    border-radius:50px;
    width:300px;
    height:100px;
    background: $color-third;
    border:solid 4px $color-secondary;
    
  
        &:hover{
            background: $color-fourth;
            border: solid 4px $color-primary;
        }
    }
}

/*--POPUP APPEARS WHEN CLICKING--*/


.overlay, .overlay2{
    position:absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color:rgb(235, 221, 221);
    opacity:.96;
    width:100%;
    font-family:'belligerent_madnessregular';
    font-size:20px;
    text-align:center;
    display:none;
}
.btn{
    &__close, &__close2{
        font-size:30px;
        color:$color-primary;
        border: solid 3px $color-primary;
        padding:.5rem;
        border-radius:50px;
        cursor: pointer;
    }
}
.popup{
    margin:10% auto;
    width:55%;
    padding:1rem 0 1rem 0;
    background:white;
    border-radius: 5px;
    box-shadow:5px 10px 5px 10px $color-secondary;
}




