html, body {
  margin: 0;
  width: 100%;
  color: #fdb7ae;
}
body 
{
  background-color: #03A9f4;
  font-family: "Roboto", sans-serif;
}
.banniere
{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}
.container-fluid
 {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding:0 0;
}
a,a:hover
{
  text-decoration: none;
  color: inherit;
}
.navbar
{
  font-size: 1.25em;
  text-align: center;
  background-color: #f46e6b;
  border-radius: 25%;
  border: 3px double #915b39;
  width: 100%;
}
.navbar-expand
{
  display: flex;
  justify-content: space-around;
}
.form-exemple
{
  display: flex;
  flex-direction: column;
}
td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
    text-align: center;
}
table
{
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
}
footer
{
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-top: 6px;
}
.row
{
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  font-size: 1em;
  width: 100%;
  margin-bottom: 6%;
}
.row-nav
{
  width: 100%;
  padding:5 5;
}
.confirm
{
 text-align: center;
 width: 100%;
}
#panier
{
	width: 80%;
	text-align: center;
	margin-left: 10%;
}
.display_page_panier
{
	width: 80%;
	margin-left: 10%;
}
p
{
	width: 100%;
	text-align: center;
}