/*
	Name : Orinoco
	Create : 2020/04/07
	Version : 1.0.0
	Author : François, Joël Lesenne
	Site :
	Depot : <https://github.com/joellesenne/orinoco>
	Licence : MIT <https://mit-license.org/>
*/

// IMPORT UTILITY
@import 'utils/variables', 'utils/mixins', 'utils/function';

// IMPORT BASE
@import 'base/reset', 'base/remedy', 'base/base', 'base/typography';

// IMPORT LAYOUT
@import 'layout/container', 'layout/navigation', 'layout/header', 'layout/main',
  'layout/article', 'layout/footer';

// IMPORT COMPONENT
@import 'components/card', 'components/form', 'components/table',
  'components/modal', 'components/button';
