<!DOCTYPE html>
<html lang="fr" itemscope itemtype="https://schema.org/Article">
  <!-- A list of everything that *could* go in the <head> of your document <https://github.com/joshbuchea/HEAD> -->
  <head>
    <!--
			Set the character encoding for this document, so that
			all characters within the UTF-8 space (such as emoji)
			are rendered correctly.
		-->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Set the document's title -->
    <title>Votre achat est confirmé – Orinoco</title>

    <!-- Name of web application (only should be used if the website is used as an app) -->
    <meta name="application-name" content="Oricono" />

    <!-- Theme Color for Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#5a008c" />

    <!-- Short description of the document (limit to 150 characters) -->
    <!-- This content *may* be used as a part of search engine results. -->
    <meta
      name="description"
      content="Une sélection de produits pour photographe."
    />

    <!-- Control the behavior of search engine crawling and indexing -->
    <meta name="robots" content="index,follow" />
    <!-- All Search Engines -->
    <meta name="googlebot" content="index,follow" />
    <!-- Google Specific -->

    <!-- schemaorg using microdata for SEO <schema.org> -->
    <link
      rel="author"
      href="https://ocr-dw.s3.eu-west-3.amazonaws.com/oricono/index.html"
    />
    <link
      rel="publisher"
      href="https://ocr-dw.s3.eu-west-3.amazonaws.com/oricono/confirmation.html"
    />
    <meta itemprop="name" content="Oricono" />
    <meta
      itemprop="description"
      content="Une sélection de produits vintage pour photographe."
    />
    <meta
      itemprop="image"
      content="https://ocr-dw.s3.eu-west-3.amazonaws.com/oricono/assets/images/mockups.jpg"
    />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@orinoco" />
    <meta name="twitter:title" content="Votre achat est confirmé – Orinoco" />
    <meta
      name="twitter:url"
      content="https://ocr-dw.s3.eu-west-3.amazonaws.com/oricono/confirmation.html"
    />
    <meta
      name="twitter:description"
      content="Une sélection de produits vintage pour photographe."
    />
    <meta name="twitter:creator" content="@oricono" />
    <!-- Twitter Summary card images must be at least 200x200px -->
    <meta
      name="twitter:image"
      content="https://ocr-dw.s3.eu-west-3.amazonaws.com/oricono/assets/images/mockups.jpg"
    />
    <meta name="twitter:image:alt" content="Orinoco - identité en image" />

    <!-- Open Graph data -->
    <meta property="og:title" content="Votre achat est confirmé – Orinoco" />
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content="https://ocr-dw.s3.eu-west-3.amazonaws.com/oricono/index.html"
    />
    <meta
      property="og:image"
      content="https://ocr-dw.s3.eu-west-3.amazonaws.com/oricono/assets/images/mockups.jpg"
    />
    <meta property="og:image:alt" content="Orinoco - identité en image" />
    <meta
      property="og:description"
      content="Une sélection de produits vintage pour photographe."
    />
    <meta property="og:site_name" content="Oricono" />
    <meta property="og:local" content="fr_FR" />
    <!-- <meta property="fb:admins" content="Facebook numeric ID" /> -->

    <!-- Helps prevent duplicate content issues -->
    <link
      rel="canonical"
      href="https://ocr-dw.s3.eu-west-3.amazonaws.com/oricono/confirmation.html"
    />

    <!-- Favicon -->
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon" />
    <!-- Apple Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="./icons/icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="96x96" href="./icons/icon-96x96.png" />
    <link
      rel="apple-touch-icon"
      sizes="128x128"
      href="./icons/icon-128x128.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="./icons/icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="./icons/icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="192x192"
      href="./icons/icon-192x192.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="384x384"
      href="./icons/icon-384x384.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="512x512"
      href="./icons/icon-512x512.png"
    />

    <!-- Links to a JSON file that specifies "installation" credentials for the web		applications -->
    <link rel="manifest" href="./manifest.json" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Vollkorn:wght@400;700;900&display=swap"
      rel="stylesheet"
    />

    <!-- Style Sheets-->
  </head>
  <body>
    <noscript
      >Pour utiliser l'application, s'il vous plaît activez les paramètres dans
      votre navigateur.</noscript
    >
    <div class="container">
      <%= require('html-loader!./partial/navigation.html') %>
      <header class="header header__image--bg3">
        <div class="header__banner">
          <h1 class="header__banner--title">
            <%= htmlWebpackPlugin.options.title %>
          </h1>
          <p class="header__banner--subtitle">
            Une sélection de produits pour photographe.
          </p>
        </div>
      </header>
      <main class="content">
        <article class="articles">
          <header class="articles__header">
            <h2 class="articles__header--title">Merci pour votre commande</h2>
          </header>
          <article class="articles__list">
            <div class="modal">
              <div class="modal__body js-orderInfo"></div>
              <div class="modal__button">
                <button
                  class="btn js-retourHome"
                  type="button"
                  aria-label="Retour à l'accueil du site"
                >
                  🔙 Retour
                </button>
              </div>
            </div>
          </article>
          <footer class="articles__footer">
            <p class="articles__footer--info">
              Orinoco vous remercie de votre visite.
            </p>
          </footer>
        </article>
      </main>
      <%= require('html-loader!./partial/footer.html') %>
    </div>

    <!-- Google Analytics -->

    <!-- Google Analytics END -->

    <!-- Script JavaScript-->
    <script src="./polyfill.bundle.js"></script>
    <script src="./app.bundle.js"></script>
  </body>
</html>
